@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 242 255 240;
    --color-foreground: 2 24 1;
    --color-primary: 29 249 21;
    --color-on-primary: 2 24 1;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 11 18 10;
      --color-foreground: 232 245 229;
      --color-primary: 29 249 21;
      --color-on-primary: 2 24 1;
    }
  }
}